/all.mpl
/blah.mpl
/blah.mpl~
/boot.HIP
/boot.LIP
/boot.sdf
/boot.sdf.log
/e3.mpl
/font.HIP
/font.LIP
/font.sdf
/font.sdf.log
/font2.HIP
/fontbackup.sdf
/log.out
/opening.bnr
/plat.HIP
/plat.LIP
/plat.sdf
/plat.sdf.log
/rwdebug.log
/sb.ini
/SBGCBanner.tpl
/SBGCIcon.tpl
/sbgcM.elf
/sbpeM.dlf
/sbpeM.dsf
/SpongeBob_CopyELFs.bat
/SpongeBob_CopyELFs.bat~
/tgGCRun.bat
/vssver.scc
/bb/*.LIP
/bb/*.LOP
/bb/*.sdf
/bb/*.log
/bb/*.scc
*.LOP
*.sdf
*.log
*.scc
*.LIP
*.bik
*.bkp
/hb/hb01_krustykrab
/hb/hb01_krustykrab0
/b1/b101.HIP
/b1/b101.HOP
/b2/b201.HIP
/b2/b201.HOP
/b3/b301.HIP
/b3/b301.HOP
/b3/b302.HIP
/b3/b302.HOP
/b3/b303.HOP
/bb/bb01.HOP
/bb/bb02.HOP
/bb/bb03.HOP
/bb/bb04.HOP
/bc/bc01.HOP
/bc/bc02.HOP
/bc/bc03.HOP
/bc/bc04.HOP
/bc/bc05.HIP
/bc/bc05.HOP
/db/db01.HOP
/db/db02.HIP
/db/db02.HOP
/db/db03.HOP
/db/db04.HIP
/db/db04.HOP
/db/db05.HIP
/db/db05.HOP
/db/db06.HIP
/db/db06.HOP
/gl/gl02.HOP
/gl/New Folder/gl01.HIP
/gl/New Folder/gl01.HOP
/gl/Working/gl01.HIP
/gl/Working/gl01.HOP
/gy/gy01.HOP
/gy/gy02.HIP
/gy/gy02.HOP
/gy/gy03.HOP
/gy/gy04.HIP
/gy/gy04.HOP
/hb/hb01.HOP
/hb/hb03.HIP
/hb/hb03.HOP
/hb/hb04.HIP
/hb/hb04.HOP
/hb/hb06.HIP
/hb/hb06.HOP
/hb/hb07.HIP
/hb/hb07.HOP
/hb/hb08.HIP
/hb/hb08.HOP
/hb/hb09.HIP
/hb/hb09.HOP
/hb/hb10.HIP
/hb/hb10.HOP
/jf/jf01.HOP
/jf/jf02.HOP
/jf/jf03.HOP
/jf/jf04.HOP
/kf/kf01.HOP
/kf/kf02.HOP
/kf/kf04.HOP
/kf/kf05.HOP
/mn/mnu3.HIP
/mn/mnu3.HOP
/mn/mnu4.HIP
/mn/mnu5.HIP
/mn-pal/mnu3.HIP
/mn-pal/mnu3.HOP
/mn-pal/mnu4.HIP
/mn-pal/mnu5.HIP
/pg/pg12.HIP
/pg/pg12.HOP
/rb/rb01.HOP
/rb/rb03.HOP
/sm/sm01.HOP
/sm/sm02.HOP
/sm/sm03.HIP
/sm/sm03.HOP
/sm/sm04.HOP
/sp/backup/spsb.HIP
/sp/backup/spsb.HOP
/sp/sppa.HIP
/sp/sppa.HOP
/sp/spsb.HIP
/sp/spsb.HOP
/sp/spsc.HIP
/sp/spsc.HOP
